.fotoprofile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.tengah {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerfilm {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.cardfilm {
  background-color: beige;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fotofilm {
  height: 180px;
  width: 120px;
  object-fit: cover;
  margin-top: 10px;
}
